/* general rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #F6F8F9;
}

.conteiner {
    margin: 0 auto;
    max-width: 1000px;
}

/* header */
.position {
    vertical-align: middle;
}

h1 {
    font-size: 40px;
}

header {
    padding: 1em 2em;
}

/* main */

form {
    padding: 5px 60px;
    margin-top: 40px;
    margin-bottom: 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

h2{
    font-size: 20px;
    font-weight: 900;
}

.button {
    padding: 5px 10px;
    margin: 4px 2px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    border-color: rgba(0, 0, 0, 0.5);
    font-size: 11px;
}

.button-form {
    padding: 5px 10px;
    margin: 4px 2px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    border-color: lightgray;
}

nav ul {
    list-style-type: none;
    padding: 4px;
    /* line-height: 40px; */
}


/* background utility */
.bg-white {
    background-color: white;
}

.bg-blue {
    background-color: #47ADF1;
}

.bg-violet {

    background-color: #9C72E4;
}

.bg-green {
    background-color: #64C0A9;
}

.bg-orange {
    background-color: #F29E33;
}

.bg-pink {
    background-color: #D863A0;
}

.bg-lightgreen {
    background-color: #B0C926;
}

/* text utility */
.text-white {
    color: white;
}

.text-gray {
    color: gray;
}

.text-darkgray {
    color: #454952;
}

.text-formatting {
    line-height: 40px;
    padding: 25px 60px 0px 60px;
    font-weight: 700;
}

.text-page-closing {
    line-height: 40px;
    padding: 25px 60px 25px 60px;
    font-weight: 700;
}

.circle-icon-green {
    border: 1px solid #86D1C0;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    color: #86D1C0;
    font-size: small;
    font-weight: 700;
    line-height: 16px;
    display: inline-block;
    vertical-align: text-top;
    margin-right: 8px;
}

.circle-icon-red {
    border: 1px solid #EB5851;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    color: #EB5851;
    font-size: small;
    font-weight: 700;
    line-height: 16px;
    display: inline-block;
    vertical-align: text-top;
    margin-right: 8px;
}